/*

   RESETS

   <button>

*/

reset-button()
  appearance none
  padding 0
  text-rendering inherit
  font-size inherit
  line-height inherit
  font-family inherit
  font-weight inherit
  text-align inherit
  color inherit
  background none
  border none
  outline 0
  cursor pointer
  user-select none
  text-decoration none
  &::-moz-focus-inner
    border 0
    padding 0
