.tm-crosshair
  $size = 6rem
  height $size
  width ($size / 2)
  position relative
  display block
  border-left $px solid

  &::before,
  &::after
    content ""
    display block
    position relative

  &::before
    border-top $px solid
    left -100%
    margin-left -($px*2)
    width $size
    top ($size / 2)

  &::after
    $circle = (1rem - $px)
    height $circle
    width $circle
    border-radius 50%
    border $px solid
    top 50%
    left ($circle/-2 - $px)
    margin-top ($circle/-2 - $px)

.nw-accent
  angle-accent(nw)
  position absolute
  top 0
  left 0

  &-stacked:before
    content ""
    angle-accent(se)
    position absolute
    bottom 100%
    right -$px

.ne-accent
  angle-accent(ne)
  position absolute
  top 0
  right 0

  &-stacked:before
    content ""
    angle-accent(se)
    position absolute
    bottom 100%
    right -$px

.sw-accent
  angle-accent(sw)
  position absolute
  bottom 0
  left 0

  &-stacked:before
    content ""
    angle-accent(se)
    position absolute
    right 100%
    bottom -$px

.se-accent
  angle-accent(se)
  position absolute
  bottom 0
  right 0

  &-stacked:before
    content ""
    angle-accent(ne)
    position absolute
    top 100%
    right -$px