/*

   FONT FAMILY GROUPS

*/

/* Import fonts */
@import url(https://rsms.me/inter/inter.css)

@font-face
    font-family 'JetBrains Mono'
    src url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf') format('truetype')
    font-weight normal
    font-style normal

/* Monospaced Typefaces (for code) */

/* From http://cssfontstack.com */
code, .tm-code
  font-family $font-family-monospace
  -webkit-font-feature-settings 'liga' on, 'calt' on, 'zero' on
  font-feature-settings 'liga' on, 'calt' on, 'zero' on
