:root
  .z-tooltip
    z-index $z-index-tooltip 

  .z-0
    z-index $z-index-0

  .z-1
    z-index $z-index-1

  .z-2
    z-index $z-index-2 
    
  .z-max
    z-index $z-index-max

  .z-auto
    z-index $z-index-auto