/* Modules */
@import 'abstracts/_index'
@import '_base'
@import '_type-scale'
@import '_accents'
@import '_box-sizing'
@import '_center'
@import '_images'
@import '_box-shadow'
@import '_container'
@import '_font-family'
@import '_font-weight'
@import '_forms'
@import '_grids'
@import '_letter-spacing'
@import '_line-height'
@import '_links'
@import '_btn'
@import '_margin'
@import '_spacing'
@import '_typography'
@import '_z-index'
@import '_colors'

select
  font-size inherit
  font-family inherit

[hide]
  display none

// .info-label
//   font-size: 13px;
//   line-height: 130.7%;
//   letter-spacing: 0.005em;
//   color: var(--semi-transparent-color-3)
