/* @reference: https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight */
@import url(https://fonts.googleapis.com/css?family=Inter);

@font-face
    font-family 'JetBrains Mono'
    src url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf') format('truetype')
    font-weight normal
    font-style normal

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, button, input
  font-weight inherit
  font-style inherit
  font-family inherit
  font-size: 100%
  line-height: 128.7%;
  letter-spacing: -0.007em;
  font-feature-settings: 'zero' on;
  vertical-align baseline
  margin 0
  padding 0
  box-sizing border-box

a[href]
  color inherit
  text-decoration initial

html
  scrollbar-color var(--background-color-primary) var(--background-color-secondary)

body
  margin 0
  font-style: normal;
  font-size: 16px;
  font-weight 400
  font-family "Inter"
  -webkit-font-smoothing antialiased
  color var(--color-text, black)
  text-rendering optimizeLegibility
  background-color var(--background-color-secondary)

:root
  --background-color-primary: white
  --background-color-secondary: #F8F9FC
  --sidebar-width 19rem
  --aside-width 280px
  --topbar-height 100px
  --color-text #000000D1
  --color-text-strong #000000
  --color-link #5064FB
  --color-primary #5064FB
  --color-danger #CC0025
  --color-code inherit
  --sidebar-bg #fff
  --sidebar-footer-height 100px
  --layout-width 1540px
  --element-size: 5rem
  --semi-transparent-color: rgba(0,0,0,0.18)
  --img-filter: brightness(0.2)

:root.dark-theme
  --background-color-primary: #111111
  --background-color-secondary: #171717
  --sidebar-width 19rem
  --aside-width 280px
  --topbar-height 100px
  --color-text #FFFFFFD1
  --color-text-strong #FFFFFF
  --color-link #4251FA
  --color-primary #4251FA
  --color-danger #CC0025
  --color-code inherit
  --sidebar-bg #111111
  --sidebar-footer-height 100px
  --layout-width 1540px
  --semi-transparent-color: rgba(255,255,255,0.18)
  --img-filter: brightness(0) invert(1)


code
  -webkit-font-feature-settings "liga" on, "calt" on
  font-family "JetBrains Mono","Menlo","Monaco","Lucida Console","Liberation Mono","DejaVu Sans Mono","Bitstream Vera Sans Mono","Courier New",monospace

select
  font-size inherit
  font-family inherit

[hide]
  display none
